<a href="https://colab.research.google.com/github/MayurdhvajsinhJadeja/Machine-Learning-Intro-and-Intermediate/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('Salary_Data.csv')
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
df['YearsExperience'].head()

0    1.1
1    1.3
2    1.5
3    2.0
4    2.2
Name: YearsExperience, dtype: float64

In [ ]:
x = df[['YearsExperience']]
y = df['Salary']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(x_train,y_train)

lr.score(x_test,y_test)

0.9024461774180497

In [ ]:
from sklearn.metrics import mean_squared_error
y_pred = lr.predict(x_test)
mean_squared_error(y_pred, y_test,squared=False)

7059.04362190151

In [ ]:
df = pd.read_csv('diamonds.csv',index_col=[0]).reset_index(drop=True)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [ ]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [ ]:
df.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_data = df[['cut','clarity','color']]
ordinal_encoder = OrdinalEncoder(categories=[['Fair','Good','Very Good','Premium','Ideal'],
                                             ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF'],
                                             ['J','I','H','G','F','E','D']])
ordinal_encoded = ordinal_encoder.fit_transform(ordinal_data)
ordinal_df = pd.DataFrame(ordinal_encoded,columns=['cut_label','clarity_label','color_label'])

In [ ]:
ordinal_df

       cut_label  clarity_label  color_label
0            4.0            1.0          5.0
1            3.0            2.0          5.0
2            1.0            4.0          5.0
3            3.0            3.0          1.0
4            1.0            1.0          0.0
...          ...            ...          ...
53935        4.0            2.0          6.0
53936        1.0            2.0          6.0
53937        2.0            2.0          6.0
53938        3.0            1.0          2.0
53939        4.0            1.0          6.0

[53940 rows x 3 columns]

In [ ]:
pd.concat([ordinal_df,ordinal_data],axis=1)

       cut_label  clarity_label  color_label        cut clarity color
0            4.0            1.0          5.0      Ideal     SI2     E
1            3.0            2.0          5.0    Premium     SI1     E
2            1.0            4.0          5.0       Good     VS1     E
3            3.0            3.0          1.0    Premium     VS2     I
4            1.0            1.0          0.0       Good     SI2     J
...          ...            ...          ...        ...     ...   ...
53935        4.0            2.0          6.0      Ideal     SI1     D
53936        1.0            2.0          6.0       Good     SI1     D
53937        2.0            2.0          6.0  Very Good     SI1     D
53938        3.0            1.0          2.0    Premium     SI2     H
53939        4.0            1.0          6.0      Ideal     SI2     D

[53940 rows x 6 columns]

In [ ]:
df_encoded = pd.concat([ordinal_df,df],axis=1)
df_encoded
#lr = LinearRegression()

,cut_label,clarity_label,color_label,carat,cut,color,clarity,depth,table,price,x,y,z
0,4.0,1.0,5.0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,3.0,2.0,5.0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,1.0,4.0,5.0,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,3.0,3.0,1.0,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,1.0,1.0,0.0,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,4.0,2.0,6.0,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,1.0,2.0,6.0,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,2.0,2.0,6.0,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,3.0,1.0,2.0,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,4.0,1.0,6.0,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [ ]:
x  =df_encoded.drop(columns=['clarity','color','cut','price'])
y = df_encoded['price']

In [ ]:
x

,cut_label,clarity_label,color_label,carat,depth,table,x,y,z
0,4.0,1.0,5.0,0.23,61.5,55.0,3.95,3.98,2.43
1,3.0,2.0,5.0,0.21,59.8,61.0,3.89,3.84,2.31
2,1.0,4.0,5.0,0.23,56.9,65.0,4.05,4.07,2.31
3,3.0,3.0,1.0,0.29,62.4,58.0,4.20,4.23,2.63
4,1.0,1.0,0.0,0.31,63.3,58.0,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...
53935,4.0,2.0,6.0,0.72,60.8,57.0,5.75,5.76,3.50
53936,1.0,2.0,6.0,0.72,63.1,55.0,5.69,5.75,3.61
53937,2.0,2.0,6.0,0.70,62.8,60.0,5.66,5.68,3.56
53938,3.0,1.0,2.0,0.86,61.0,58.0,6.15,6.12,3.74
53939,4.0,1.0,6.0,0.75,62.2,55.0,5.83,5.87,3.64

In [ ]:
x_train,x_test,y_train,y_train = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
x_train

,cut_label,clarity_label,color_label,carat,depth,table,x,y,z
26546,1.0,1.0,4.0,2.01,58.1,64.0,8.23,8.19,4.77
9159,2.0,1.0,5.0,1.01,60.0,60.0,6.57,6.49,3.92
14131,3.0,3.0,2.0,1.10,62.5,58.0,6.59,6.54,4.10
15757,1.0,1.0,5.0,1.50,61.5,65.0,7.21,7.17,4.42
24632,2.0,4.0,3.0,1.52,62.1,57.0,7.27,7.32,4.53
...,...,...,...,...,...,...,...,...,...
11284,2.0,3.0,1.0,1.05,62.4,59.0,6.48,6.51,4.05
44732,4.0,4.0,6.0,0.47,61.0,55.0,5.03,5.01,3.06
38158,2.0,7.0,4.0,0.33,60.3,58.0,4.49,4.46,2.70
860,3.0,2.0,0.0,0.90,62.8,59.0,6.13,6.03,3.82
15795,3.0,2.0,4.0,1.14,60.4,58.0,6.82,6.79,4.11

In [ ]:
lr = LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

ValueError: ignored

In [ ]:
y_pred = lr.predict(x_test)
mean_squared_error(y_pred, y_test,squared=False)

AttributeError: ignored